<div class="footerBody">
    <div class="footerContent">
        <h2 class="footer-text">Designed & Built by Francisco Avina © 2021</h2>
    </div>
    <div class="upwardArrow">
        <button routerLink="." fragment="top-of-page" matTooltipClass="example-toolTip" 
        mat-raised-button 
        color="accent"
        matTooltip="Return to top" 
        aria-label="Button" 
        matTooltipPosition="above">
            <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_upward</mat-icon>
        </button>
    </div>
</div>
