.project1Image{
    width: 475px;
    height: 300px;
    object-fit: cover;
    border: 5px solid black; 
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px; 
}

.flex-container2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px; 
}

h2{
    margin-bottom: 40px;
}

.projectBody{
    display: flex;
    height: 175vh;
    padding: 0 150px; 
    flex-direction: row;
}

.projectContent{
    padding-top: 100px;
    padding-bottom: 100px;
}

.projectNumber{
    margin-right: 10px;
}

.projectCardContainer{
    width: 50%; 
}

.projectCardContainer2{
    width: 50%;
    text-align: right;
}


