.project1Image{
    width: 475px;
    height: 300px;
    object-fit: cover;
    border: 5px solid #368b85; 
}


.project1Image2{
    width: 475px;
    height: 400px;
    object-fit: cover;
    border: 5px solid #368b85; 
}


.fa-github{
    color: #f1e9e5;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px; 
}

.flex-container2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px; 
}

h2{
    margin-bottom: 40px;
}

h2:after
{
    content:'';
    display:inline-block;
    border-top: .05rem solid #368b85;
    width: 40%;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
}

.projectBody{
    display: flex;
    height: 175vh;
    padding: 0 150px; 
    flex-direction: row;
}

.projectContent{
    padding-top: 100px;
    padding-bottom: 100px;
}

.projectNumber{
    margin-right: 10px;
    color: #368b85;
}

.projectCardContainer{
    width: 50%; 
}

.projectCardContainer2{
    width: 50%;
    text-align: right;
}


.mat-chip.mat-standard-chip{
    color: #f1e9e5;
    background-color: #368b85;
}


.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary{
    background-color: #f1e9e5;
    color: #368b85;
}

