<mat-toolbar class="sidenavMenuIcon">
    <a>
      <img class="logo" src="../../../assets/logo.png">
  </a>
  <button mat-icon-button class="example-icon" (click)="nav.toggle()">
      <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<div class="navbarContent" id="top-of-page">

  <mat-sidenav-container class="navContainer">
    <mat-sidenav #nav mode="side" [fixedInViewport]="true" fixedTopGap="55">
      <mat-nav-list class="sidenav">
        <button mat-icon-button (click)="nav.toggle()"><mat-icon style="color: #368b85;">close</mat-icon></button>
        <p (click)="nav.toggle()" routerLink="." fragment="section-1" ><span class="num">01.</span> About</p>
        <p (click)="nav.toggle()" routerLink="." fragment="section-2"><span class="num">02.</span>  Experience</p>
        <p (click)="nav.toggle()" routerLink="." fragment="section-3"><span class="num">03.</span>  Projects</p>
        <p (click)="nav.toggle()" routerLink="." fragment="section-4"><span class="num">04.</span>  Contact</p>
        <a (click)="openResume()"><button  mat-raised-button color="success">
          Resume
        </button></a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
    </mat-sidenav-content>
  </mat-sidenav-container>  

</div>

