.experienceBody{
    padding: 50px 25px 0 25px;
    margin-top: 60px;
}

.experienceNumber{
    color: #368b85;
    padding: 0 5px; 
}

.experienceHeader:after
{
    content:'';
    display:inline-block;
    border-top: .05rem solid #368b85;
    width: 35%;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
}

.linkWork{
    color: #368b85;
}

label{
    color: #b4b897;
}

.mat-card-title{
    color: #f1e9e5;
}

.mat-card{
   color: #b4b897;
   background-color: #464660;
}

.mat-tab-label{
    color: #b4b897;
}

.mat-card-subtitle{
    color: #b4b897;
}


element.style {
    visibility: visible;
    left: 0px;
    width: 160px;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background: #368b85;
}