.landingBody{
    display: flex;
    padding:0 150px; 
    height: 100vh; 
    align-items: center;
}

.flex-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

h1{ 
    font-size: 20px;
    margin: 0;
    text-align: left;
    margin-bottom: 20px;
   
}

h2{
    font-size: 80px;
    margin: 0; 
    text-align: left;
    color: #f1e9e5;
}

h3{
    font-size: 80px;
    margin: 0; 
    text-align: left;
    color: #b4b897;
}

p{
    font-size: 20px;
    margin: 0; 
    width: 50%;
    text-align: left;
    margin-top: 20px;
    color: #b4b897;
}

button{
    margin-top: 50px;
    padding: 25px; 
}

.mat-success{
    background-color: #368b85;
    color: #f1e9e5;
  }

  .mat-success:hover{
    filter: brightness(150%);
}