<div class="contactBody">
    <div class="contactContent">
        <h2 style="text-align: center;"><span class="contactNumber">04.</span>Contact Me</h2>
        <h3 style="margin-bottom: 40px; text-align: center;">Get in Touch</h3>
        <div class="flex-container">
            <div class="paragraphAboutMe">
                <p>
                    I'm always looking for new opportunities so feel free to contact me. If you have any questions
                    or want to say what's up, I'll try my best and get back to you.  
                </p>
                <div style="display:flex; justify-content: center;">
                   <a href="mailto:frankieavina@gmail.com"><button mat-raised-button color="accent">Contact Me</button></a> 
                </div>
            </div>
        </div>
    </div>
</div>