*{padding:0; margin: 0;}

button:hover{
  filter: brightness(150%);
}

.header{
    padding: 0 50px;
    height: 100px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #464660;
    height: 100%;
}

.logo{
    margin-top: .12em ; 
    margin-left: 5px; 
    width: 3em; 
}


.logo, .navigation{
    list-style: none; /*so no bullets  */
}

.logo a, .navigation a{
    text-decoration: none; /*so no underline  */ 
}

.mat-success{
  background-color: #368b85;
  color: #f1e9e5;
}

.navigation {
    display: flex;
}

.navigation a {
    display: block;
    color: #b4b897;
    padding: 1em; 
}

.navigation a:hover {
    color: black;
}

.nav-number{
    margin: 0 5px 0 0; 
    color: #368b85;

}




/* Media queries are commonly used in responsive designs in order to display a 
different layout to different devices, depending on their screen size. */
/****** about the size of a tablet *********/
@media all and (max-width: 990px) {
    .flex-container {
      flex-direction: column;
    }
    
    .logo {
    margin-top: 0.2em;
  }
    
    .navigation  {
      width: 100%;
      justify-content: space-around;
    }


}
/****** about the size of a phone *********/
@media all and (max-width: 600px) {
 
    .logo {
      margin: .25em 0;
      align-self: left; /* align the logo to the left side of 'flex-container' */
  }
    
    .navigation {
      flex-direction: column;
    } /* have a dropdown menu*/

    .navigation a { 
        text-align: center; 
        padding: 10px;
        border-top: 1px solid rgba(255,255,255,0.3); 
        border-bottom: 1px solid rgba(0,0,0,0.1); 
      }

      .navigation li:last-of-type a {
        border-bottom: none;
      }
 }