<div id="section-2" class="experienceBody">
    <div class="experienceContent">
        <h2><span class="experienceNumber">02.</span><span class="experienceHeader" style="color: #f1e9e5; font-size: 1.5em;">I Have Worked</span> </h2>
        <div class="flex-container">
            <div class="workTabs">
                <mat-tab-group animationDuration="2000ms">
                    <mat-tab label="Bay Valley Tech">
                        <mat-card class="example-card">
                            <mat-card-header>
                              <div mat-card-avatar class="example-header-image"></div>
                              <mat-card-title class="experience-title">Intern Software Developer<a class="linkWork" href="https://www.bayvalleytech.com/">@BVTCA</a></mat-card-title>
                              <mat-card-subtitle>April 2021 - Present</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                              <ul>
                                  <li> Participate in analyzing, designing, writing and testing code, documenting and implementing functionally appropriate, technically sound, and well-integrated application systems</li>
                                  <li> Work through all phases of the software development life cycle, including research, design, analysis, requirements, implementation, test</li>
                                  <li> Collaborating with a team of developers to ensure application met requirements.</li>
                                  <li> Researching, investigating and fixing a wide range of technical issues.</li>
                              </ul>
                            </mat-card-content>
                        </mat-card>
                    </mat-tab>
                    <mat-tab label="Autozone">
                        <mat-card class="example-card">
                            <mat-card-header>
                              <div mat-card-avatar class="example-header-image"></div>
                              <mat-card-title>Retail Sales Associate <a class="linkWork" href="https://www.autozone.com/">@Autozone</a></mat-card-title>
                              <mat-card-subtitle>July 2020 - January 2021</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                              <ul>
                                  <li>Processed all sales transactions accurately and in a timely fashion.</li>
                                  <li>Maintained visually appealing and effective displays for the entire store.</li>
                                  <li>Communicated information to customers about product quality, value and style.</li>
                                  <li>Implemented vehicle diagnostics testing: Battery, Starter, Alternator.</li>
                              </ul>
                            </mat-card-content>
                        </mat-card>
                    </mat-tab>
                    <mat-tab label="Demons Bucking Bulls Cattle and Rodeo">
                        <mat-card class="example-card">
                            <mat-card-header>
                              <div mat-card-avatar class="example-header-image"></div>
                              <mat-card-title>Admin Assistant <a class="linkWork" href="http://www.losdemoniosapretalados.com/index.html">@DBCR</a></mat-card-title>
                              <mat-card-subtitle>February 2016 - December 2019</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                              <ul>
                                  <li> Utilized strong communication and interpersonal skills to set up bull riding events, assist customers with any concerns they had.</li>
                                  <li> Collected entrance and parking fees and made sure all money was accounted for.</li>
                                  <li> Oversaw routine and advanced duties for other employees.</li>
                                  <li> Managing inventory of assets and supplies, sourcing for suppliers (vendors) and submitting invoices</li>
                              </ul>
                            </mat-card-content>
                        </mat-card>
                    </mat-tab>
                  </mat-tab-group>
            </div>
        </div>
    </div>
</div>
