<!----------------------------------------- 1st featured project  ------------------------------------------>
<div id="section-3" class="projectBody">
    <div class="projectContent">
        <h2><span class="projectNumber">03.</span><span style="color: #f1e9e5; font-size: 1.5em;">Some Things I've Built</span> </h2>
        <div class="flex-container">
            <div class="projectCardContainer">
                <mat-card class="projectCard">
                    <mat-card-header style="margin-top: 20px; margin-bottom: 20px;">
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Featured Project</mat-card-title>
                      <mat-card-subtitle>WarCraft 3 Community Review Web Application</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        My partner and I created a place where content creators for WorldCarft 3 can share there creativity and keep the Community
                        alive. Designed Register and Login components in Angular, and Node.js backend with MySql database that contained 
                        user autherization using JWT authentification. 
                      </p>
                      <mat-chip-list aria-label="Fish selection" style="margin:20px">
                        <mat-chip>Angular</mat-chip>
                        <mat-chip>Express.js</mat-chip>
                        <mat-chip color="primary" selected>imagekit.io</mat-chip>
                        <mat-chip color="primary" selected>MySQL</mat-chip>
                      </mat-chip-list>
                    </mat-card-content>
                    <mat-card-actions>
                        <a style="padding: 10px;" href="https://github.com/bertman12/Warcraft-Legends"><i class="fa fa-github" style="font-size:24px"></i></a>
                    </mat-card-actions>
                  </mat-card>
            </div>
            <div>
                <img class="project1Image" src="../../../assets/warcraft.png" alt="warcraft" >
            </div>
        </div>
        <!------------------------------------------ 2nd featured project  ---------------------------------------->
        <div class="flex-container2">
            <div>
                <img class="project1Image2" src="./assets/fitnits.png" >
            </div>
            <div class="projectCardContainer2">
                <mat-card class="projectCard">
                    <mat-card-header style="margin-top:20px; margin-bottom: 20px;">
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Featured Project</mat-card-title>
                      <mat-card-subtitle>Fitnits Application</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        Worked in a team where I was in charge of creating a dashboard with Angular that would interact
                        with a server and request information to display in the dashboard as well as push information to
                        the server to store in our database. 
                      </p>
                      <mat-chip-list aria-label="Fish selection" style="display:flex; margin:20px; justify-content: flex-end;">
                        <mat-chip>Angular</mat-chip>
                        <mat-chip>Express.js</mat-chip>
                        <mat-chip color="primary" selected>Angular Material</mat-chip>
                        <mat-chip color="primary" selected>MongoDB</mat-chip>
                      </mat-chip-list>
                    </mat-card-content>
                    <mat-card-actions>
                        <a style="padding: 10px;" href="https://github.com/bertman12/Warcraft-Legends"><i class="fa fa-github" style="font-size:24px"></i></a>
                    </mat-card-actions>
                  </mat-card>
            </div>
        </div>
        <!------------------------------------- 3rd featured project  ------------------------------------------------>
        <div class="flex-container">
            <div class="projectCardContainer">
                <mat-card class="projectCard">
                    <mat-card-header style="margin-top: 20px; margin-bottom: 20px;">
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Featured Project</mat-card-title>
                      <mat-card-subtitle>Demons Bucking Bulls Website</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        Develped a front-end website to not only promote a buisness but also keep a track of inventory as well 
                        as letting future customers take a look at their cattle, future events, and products. Tools and languages used\
                        to develop this application were HTML, CSS, Bootstrap, PHP, Vanilla JS and HostGator. www.losdemoniosapretalados.com
                      </p>
                      <mat-chip-list aria-label="Fish selection" style="margin:20px">
                        <mat-chip>HTML and CSS</mat-chip>
                        <mat-chip>Bootstrap</mat-chip>
                        <mat-chip color="primary" selected>PHP</mat-chip>
                        <mat-chip color="primary" selected>HostGator</mat-chip>
                      </mat-chip-list>
                    </mat-card-content>
                    <mat-card-actions>
                        <a style="padding: 10px;" href="https://github.com/bertman12/Warcraft-Legends"><i class="fa fa-github" style="font-size:24px"></i></a>
                    </mat-card-actions>
                  </mat-card>
            </div>
            <div>
                <img class="project1Image" src="./assets/demonios.png" >
            </div>
        </div>
        <!--------------------------------- featured 4th project ------------------------------------------------------>
        <div class="flex-container2">
          <div>
              <img class="project1Image2" src="./assets/discordbot.png" >
          </div>
          <div class="projectCardContainer2">
              <mat-card class="projectCard">
                  <mat-card-header style="margin-top:20px; margin-bottom: 20px;">
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Featured Project</mat-card-title>
                    <mat-card-subtitle>Discord BVT Class Bot</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <p>
                      Worked in with a BVT Instructor to build a Discord bot and implement some functionalities that would later 
                      be incorporated into future classes to facilitate taking role as well moderating the channel. discord.js is 
                      a powerful Node.js module that allowed to easily interact with the Discord API to automate some of the
                      functionalities. 
                    </p>
                    <mat-chip-list aria-label="Fish selection" style="display:flex; margin:20px; justify-content: flex-end;">
                      <mat-chip>Discord API</mat-chip>
                      <mat-chip>JavaScript</mat-chip>
                      <mat-chip color="primary" selected>Node.js</mat-chip>
                      
                    </mat-chip-list>
                  </mat-card-content>
                  <mat-card-actions>
                      <a style="padding: 10px;" href="https://github.com/frankieavina/BVT_Discord_Bot_V1.0.git"><i class="fa fa-github" style="font-size:24px"></i></a>
                  </mat-card-actions>
                </mat-card>
          </div>
      </div>



    </div>
</div>
