.contactBody{
    display: flex;
    height: 75vh;
    padding: 0 150px; 
    justify-content: center;
}


.contactContent{
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 100px 100px 100px;
}

.contactNumber{
    margin-right: 10px;
    color: #368b85;
}


.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h2:after
{
    content:'';
    display:inline-block;
    border-top: .05rem solid #368b85;
    width: 20%;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
}

h2:before
{
    content:'';
    display:inline-block;
    border-top: .05rem solid #368b85;
    width: 20%;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
}

.mat-accent{
    background-color: #368b85;
    color: #f1e9e5;
  }

.mat-accent:hover{
    filter: brightness(150%);
}

.paragraphAboutMe{
    width: 65%;
    color: #b4b897;
}