<div id="section-1" class="aboutBody">
    <div class="aboutContent">
        <h2 style="margin-bottom: 40px;"><span class="aboutNumber">01.</span><span style="color: #f1e9e5; font-size: 1.5em;">About Me</span></h2>
        <div class="flex-container">
            <div class="paragraphAboutMe">
                <p>
                    Hello! My name is Frankie and I enjoy developing applications. My love for technology started back in 2010 when I decided to pursue a career in computer engineering. There I 
                    learned a lot of computer languages and fundamentals.
                </p>
                <p>
                    Fast forward to today, I've had the privelage to join Bay Valley Tech where I learned about software development. Afwerwards I had the opportunity to intern with Bay Valley Tech. 
                    and collaborated with my teammates to make some awesome unique web applications. My main focus these days is to continue on my journey and build more knowledge. 
                </p>
                <p>Here are a few technologies I've been working with recently:</p>
                <mat-list>
                    <!-- <div mat-subheader>Folders</div> -->
                    <mat-list-item style="height: 50%;" *ngFor="let tech of techs">
                      <mat-icon mat-list-icon style="color:#368b85;">check_circle</mat-icon>
                      <div mat-line style="color: #b4b897;">{{tech}}</div>
                    </mat-list-item>
                </mat-list>
            </div>
            <div>
                <img class="fishImage" src="../../../assets/fishingPic.JPG" alt="fishingPic" width="300px">
            </div>
        </div>
    </div>
</div>