<div class="aboutBody">
    <div class="flex-container" style="border: 2px dotted;">
        <div>
            <h1>Hi my name is</h1>
        </div>
        <div>
            <h2>Frankie Avina</h2>
        </div>
        <div>
            <h3>I am a developer for the web.</h3> 
        </div>
        <div>
            <p>I'm a software developer that builds and 
                designs unuique web application. Currently 
                I'm looking to continue my journey as a developer
                and contribute in the success of an orginization. 
            </p>    
        </div>
        <div> 
            <a href="mailto:frankieavina@gmail.com"><button>Send A Message</button></a>
        </div>
    </div>
</div>
