.footerBody{
    padding: 50px 25px;
    margin-top: 60px;
}

.footer-text{
    color: #b4b897;
    font-size: medium;
}

.upwardArrow{
    display: flex;
    justify-content: center;
}

.example-toolTip{
    background: #368b85;
    font-size: medium;
}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, 
.mat-fab.mat-accent, .mat-mini-fab.mat-accent {
    background-color: #368b85;
}