.experienceBody{
    display: flex;
    height: 50vh;
    padding: 0 150px; 
    justify-content: center;
}

.experienceContent{
    margin: 0 60px;
    padding: 100px 0; 
}

.experienceNumber{
    margin-right: 10px;
}

h2{
    margin-bottom: 40px;
}

li{
    margin:20px; 
}